<div class="jumbotron mt-4">
    <h1 class="display-4">Notes apps </h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit.

    </p>
    <hr class="ml-4">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur, aspernatur provident repellat natus nihil qui rem distinctio sunt ipsam quod doloribus aperiam omnis eum sequi doloremque consequuntur incidunt et dolorem!</p>

    <a href="http://faztweb.com" class="btn btn-primary btn-lg">FaztWeb</a>
</div>