*{
    padding: 0px;
    margin: 0px;
}
.margenNav{
    padding: 0px 130px;
    /* background: black; */
    background: #2d3436;
}
.header{
    width: 30px auto;
}
.navbar {
    background: #2d3436;
    font: 20px monospace;
    color: white;
    padding: 10px;
    display: block;
    width: 60px auto;

}

.navbar h2{
    color:  #0984e3;
    display: block;
    float: left;
    width: 25%;
}

.navbar ul{
    float: left;
    width: 50%;
}

.navbar li{
    display: inline-block;
    list-style: null;
    margin: 10px ;

}
.navbar form input{
    border: none;
    border-radius: 4px;
    padding: 10px 15px ;
    float: left;
    width: 15%;
    /* margin: 0px 20px; */
}

.navbar button{
    /* float: left; */
    background: #0984e3;
    border-radius: 4px;
    border: none;
    color: white;
    font: bold 14px monospace;
    padding: 10px 15px;
    margin: 0px 10px;
    
}
body{
    background: #dfe6e9;
}

.body{
    padding: 0px 130px;
    
}
.body h3{
    background: #0984e3;
    color: white;
    text-align: center;
    border-radius: 4px;
    margin: 20px auto;
    font: lighter 20px 'Franklin Gothic Medium';
    display: block;
    padding: 15px;
    width: 400px;
    height: 15px;
}

.inEmision{
    background: white;
    font-family: 'Franklin Gothic Medium';
    width: 25%;
    float: left;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 4px;
}
.inEmision h5{
    font-size: 20px;
    color:#636e72;
    margin: 10px;
}

.inEmision ul{
    list-style: none;
    margin: 15px;
    
}

.inEmision li{
    font-weight: lighter;
    margin: 10px 5px;
    display: block;
    font-size: 17px;
    
}
.inEmision a{
    text-decoration: none;
    color: #2d3436;
}
.inEmision a:hover{
    color: #0984e3;
}

img{
    width: 200px;
    margin: 10px;
    border-radius: 4px;
}